@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

body {
    font-family: 'Maven Pro', sans-serif
}

.wrapper {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    height: 180px;
    width: 350px;
    padding: 20px;
    background-color: #fff;
    border-radius: 14px;
    position: relative;
    color: #fff;
    background-image: url(https://i.imgur.com/5rm6bLu.jpg);
    z-index: 5;
    background-size: cover;
    opacity: 1;
    border: none
}

.card::before {
    height: 100%;
    width: 100%;
    position: absolute;
    content: "";
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    border-radius: 14px;
    background: rgb(63, 94, 251);
    background: linear-gradient(90deg, rgba(63, 94, 251, 1) 0%, rgba(240, 50, 89, 1) 100%);
    opacity: 0.8
}

.card::after {
    height: 100%;
    width: 100%;
    position: absolute;
    content: "";
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    border-radius: 14px;
    background: rgb(63, 94, 251);
    background: linear-gradient(90deg, rgba(63, 94, 251, 1) 0%, rgba(240, 50, 89, 1) 100%);
    clip-path: polygon(28% 13%, 48% 45%, 75% 63%, 100% 99%, 0 100%, 0% 60%, 0 0)
}

.upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1
}

.upper h6 {
    font-size: 18px
}

.upper h4 {
    font-size: 30px;
    text-transform: uppercase
}

.lower {
    position: absolute;
    bottom: 20px;
    z-index: 1
}
.btn22 {
    background: transparent;
    border: 2px solid #4285f4;
    color: #4285f4;
    position: absolute;
    left: 50%;

}

.btn22:hover {
    background: #4285f4;
    color: #fff;
}
